<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Аккаунт</title>
	<link rel="stylesheet" type="text/css" href="
	/stylesheets/style.css" />
</head>
<body>
	<h1>Аккаунт</h1>
	<br>
	<br>
	<h5 id="result_label">Добро пожаловать, <font color="red">{{login}}</font>!<br>
                          Хобби: <font color="green">{{hobbie}}</font><br>
                          Возраст: <font color="blue">{{age}}</font><br>`</h5>
	<img id = "image" src = "/visuals/happy.gif">
</body>
</html>